<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{recipe.name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <h1>Welcome {{session['first_name']}}</h1>
    <h2>Here is the recipe for {{recipe.name}}</h2>
    <table class="table table-striped table-dark">
        <tr>
            <th>Description: </th>
            <td>{{recipe.description}}</td>
        </tr>
        <tr>
            <th>Under 30 minutes: </th>
            <td>{{recipe.under_thirty}}</td>
        </tr>
        <tr>
            <th>Instructions: </th>
            <td>{{recipe.instructions}}</td>
        </tr>
        <tr>
            <th>Date Made: </th>
            <td>{{recipe.date_made}}</td>
        </tr>
    </table>
    <hr>
    <a href="/recipes">Dashboard</a> 
    <a href="/logout">Logout</a>
</body>
</html>